*{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color:black;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

h2{
	text-align: center;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

#num1{
	font-size: 20px;
}

#num2{
	font-size: 20px;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 7px auto 0px auto;
	color: #fff;
	background:linear-gradient(45deg,#000000, #4F4F4F);
	width: 20%;
    display: block;
    clear: both;
}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}


#div_esquerda{
	width: 50%;
	display: inline-block;
	text-align: center;
}

#div_direita{
	width: 50%;
	display: inline-block;
	text-align: center;
	float:right;
}

#esquerda{
	width: 50%;
	display: inline-block;
	text-align: center;
	
}

#direita{
	width: 50%;
	display: inline-block;
	text-align: center;
	float: right;
}